---
import '@/styles/tailwind.css'

type Props = {
  title?: string
  body?: string
  main?: string
}

---
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {Astro.props.title && <title>{Astro.props.title}</title>}
  </head>
  <body class={Astro.props.body}>
    <main class={Astro.props.main}>
      <slot/>
    </main>
  </body>
</html>